* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
height: 100%;
width: 100%;
}

.box{
  height: 18rem;
  width: 22rem;
  background-color: rgb(151, 179, 172);
  font-size: larger;
  border-radius: 6px;
  border: 2px solid black;
  font-weight: bolder;
  padding: 40px;
}
.btn{
  background-color: rgb(115, 115, 233);
   font-weight: bolder;
  border-radius: 6px;
  border: 2px solid black;
  position: absolute;
  bottom: 200px;
  padding: 2px;
  font-size: large;
  left: 575px;
 
}
.btn:hover{
background-color: rgb(78, 78, 186);

}