#root{
  height: 100%;
  width: 100%;
}
.main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  background-color: white;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
 .btn{
  background-color: royalblue;
  padding: 5px;
 }